<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form class="menu" action="/Start/Authorization" method="post">
        <div class="Authorization">
            <label for="Login">
                Логин
            </label>
            <input class="textField" type="text" name="login" id="Login">
            <label for="Password">
                Пароль
            </label>
            <input class="textField" type="text" name="password" id="Password">
        </div>
        <div>
            <input class="btn_green_white_innerfade btn_medium" type="submit" id="Login" value="Войти">
        </div>
    </form>
    <form class="menu" action="/Start/Registration" method="post">
        <div>
            <input class="btn_green_white_innerfade btn_medium" type="submit" id="Registration" value="Зарегистрироваться">
        </div>
    </form>
</body>
</html>