<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SummerPractice.DAO.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=laptop-st7r1b1j\sqlexpress;Initial Catalog=Library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>